.login {
  width: 553px;
  height: 844px;
  border-radius: 23px;
  background-color: #ffffff;
}
.facebook {
  width: 40px;
  height: 44px;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #3c5a9a;
}
.google {
  width: 40px;
  height: 44px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.continue {
  width: 450px;
  height: 54px;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #28bc78;
}
