.login-modal {
  *{
    box-sizing: border-box;
  }

  .join-now {
    font-family: HelveticaNeue;
    color: #000000;
    font-size: 20px;
    padding: 15px 30px;
  }

  .sign-in {
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #3c5a9a;
    color: #ffffff;
    min-width: 275px;
  }

  .button-logo {
    font-size: 30px;
  }

  .button-name {
    font-family: DecoTypeNaskh;
    font-size: 17px;
    color: #ffffff;
    padding: 30px;
  }

  .terms-condition {
    font-family: HelveticaNeue;
    font-size: 15px;
    color: #000000;
    .link {
      color: #3a52d3;
    }
  }
}