.content-description {
  margin: 25px 0;
}

.funded {
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 0.97;
  text-align: left;
  color: #3a52d3;
}

.most-valued {
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 0.97;
  text-align: left;
  color: #af34d5;
}

.a {
  top: 15px;
}
