.content {
  margin: 25px 0;

  .headings {
    font-family: Eina03☞;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.97;
    text-align: left;
    color: #000000;
  }

  .description-under {
    margin-top: 10px;
    font-family: Eina03☞;
    font-size: 12px;
    line-height: 1.42;
    text-align: left;
    color: #000000;
  }
}