.footer {
    background-color: #ffffff;

    .copy-right {
        font-family: SourceSansPro;
        font-size: 18px;
        line-height: 2.11;
        color: #000000;
    }

    .footer-list-header {
        font-family: Eina03☞;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.9;
        color: #000000;
    }

    .footer-list-content {
        font-family: SourceSansPro;
        font-size: 18px;
        line-height: 2.11;
        color: #000000;
    }
}

.footer-icons {
    font-size: 35px;
    color: black;
    margin: 10px;
}